.createTodo{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #61A1D2;
    color: #fff;
    border: none;
    left: calc(50% - 20px);
    bottom: 10px;
}